/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: black;
  color: white;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.intro-2 {
  background-color: #435c54;
}

footer {
  background-color: #435c54;
}

header {
  background-image: url(../img/photo-aurores.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

h1 {
  text-align: center;
}

header h3 {
  text-align: center;
  padding: 30px;
  padding-bottom: 450px;
  font-size: 55px;
  padding-top: 50px;
}

nav {
  padding-top: 150px;
  padding-bottom: 250px;
  font-size: 30px;
}

.animation {
  display: flex;
  align-items: center;
}

.txt {
  white-space: nowrap;
  font-size: 70px;
  animation: Scroll 3s linear infinite;
}

@keyframes Scroll {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animation span {
  color: white;
  font-family: sans-serif;
}

.intro {
  display: flex;
  flex-direction: row;
}

.intro img {
  width: 40%;
}

.intro .intro-text {
  width: 60%;
}

.intro-text h4 {
  padding: 70px;
}

.intro-text p {
  padding: 70px;
}
