/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: black;
  color: white;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

.intro-2 {
  background-color: #435c54;
}

footer {
  background-color: #435c54;
}

header {
  background-image: url(../img/photo-aurores.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

h1 {
  text-align: center;
}

header h3 {
  text-align: center;
  padding: 30px;
  padding-bottom: 450px;
  font-size: 55px;
  padding-top: 50px;
}

nav {
  padding-top: 150px;
  padding-bottom: 250px;
  font-size: 30px;
}

.animation {
  display: flex;
  align-items: center;
}

.txt {
  white-space: nowrap;
  font-size: 70px;
  animation: Scroll 3s linear infinite;
}

@keyframes Scroll {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animation span {
  color: white;
  font-family: sans-serif;
}

.intro {
  display: flex;
  flex-direction: row;
}

.intro img {
  width: 42%;
}

.intro .intro-text {
  width: 58%;
}

.intro-text h4 {
  padding-top: 600px;
  padding-left: 300px;
}

.intro-text p {
  padding-top: 20px;
  padding-left: 300px;
  padding-right: 250px;
  font-size: 24px;
}

.intro-2 img {
  width: 50%;
}

.intro-2 {
  display: flex;
  flex-direction: row;
  padding-top: 230px;
  padding-bottom: 230px;
}

.intro-2-text {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 180px;
}

.intro-2-text p {
  font-size: 26px;
  padding-bottom: 100px;
}

.carte {
  padding-top: 200px;
  padding-bottom: 50px;
}

.plats img {
  width: 100%;
  border-bottom: 0.5px;
  border-color: white;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

footer img {
  width: 25px;
}

main {
  padding-bottom: 150px;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.lohikeitto {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.lohikeitto-text {
  padding: 10px;
}

.korvapuusti {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.korvapuussti-text {
  padding: 10px;
}

.iskrem {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.iskrem-text {
  padding: 10px;
}

.renkorv {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.renkorv-text {
  padding: 10px;
}

.skrei {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.skrei-text {
  padding: 10px;
}

.bouton-carte {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.bouton-carte p {
  padding: 30px;
  padding-bottom: 143px;
  padding-top: 143px;
  font-size: 27px;
}

.bouton-reservez {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  text-align: center;
  margin-right: 500px;
  margin-left: 500px;
  margin-top: 90px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
  margin-bottom: 30px;
}
