/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.25;
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  display: block;
  max-width: 100%;
  height: auto;
}

nav a {
  margin-left: 15px;
}

h2 {
  margin-top: 10px;
}

.intro-2 {
  background-color: #435c54;
}

footer {
  background-color: #435c54;
}

header {
  background-image: url(../img/photo-aurores.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

h1 {
  text-align: center;
}

h4 {
  font-weight: 300;
}

header h3 {
  text-align: center;
  padding: 30px;
  padding-bottom: 200px;
  font-size: 50px;
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: 300;
}

nav {
  padding-top: 100px;
  padding-bottom: 150px;
  font-size: 20px;
  text-transform: uppercase;
}

.animation {
  display: flex;
  align-items: center;
}

.txt {
  white-space: nowrap;
  font-size: 70px;
  animation: Scroll 3s linear infinite;
}

@keyframes Scroll {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animation span {
  color: white;
  font-family: sans-serif;
}

.intro {
  display: flex;
  flex-direction: row;
}

.intro img {
  width: 42%;
  height: 100%;
}

.intro .intro-text {
  width: 58%;
}

.intro-text h4 {
  padding-top: 250px;
  padding-left: 200px;
}

.intro-text p {
  padding-top: 20px;
  padding-left: 200px;
  padding-right: 250px;
  font-size: 19px;
}

.intro-2 img {
  width: 50%;
  height: 100%;
}

.intro-2 {
  display: flex;
  flex-direction: row;
  padding-top: 200px;
  padding-bottom: 200px;
}

.intro-2-text {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 12px;
}

.intro-2-text p {
  font-size: 19px;
  padding-bottom: 60px;
}

.carte {
  padding-top: 200px;
  padding-bottom: 50px;
}

.plats img {
  width: 100%;
  border-bottom: 0.5px;
  border-color: white;
  border-style: solid;
  border-left: none;
  border-right: none;
  border-top: none;
}

main {
  padding-bottom: 150px;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 300px;
}

.lohikeitto {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.lohikeitto-text {
  padding: 10px;
}

.lohikeitto h3 {
  padding-bottom: 10px;
}

.korvapuusti {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.korvapuusti h3 {
  padding-bottom: 10px;
}

.korvapuussti-text {
  padding: 10px;
}

.iskrem {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.iskrem h3 {
  padding-bottom: 10px;
}

.iskrem-text {
  padding: 10px;
  padding-bottom: 30px;
}

.renkorv {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.renkorv h3 {
  padding-bottom: 10px;
}

.renkorv-text {
  padding: 10px;
}

.skrei {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
}

.skrei h3 {
  padding-bottom: 10px;
}

.skrei-text {
  padding: 10px;
}

.bouton-carte {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-transform: uppercase;
}

.bouton-carte p {
  padding: 30px;
  padding-bottom: 158px;
  padding-top: 158px;
  font-size: 27px;
}

.bouton-reservez {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  text-align: center;
  margin-right: 500px;
  margin-left: 500px;
  margin-top: 90px;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {
  margin-right: 10px;
  width: 6%;
  height: 100%;
}

.contacts-case h4 {
  margin-bottom: 5px;
}

.contacts-case p {
  font-size: 13px;
}

.contacts p {
  padding-bottom: 10px;
}

.fleche img {
  width: 20%;
  height: 100%;
  padding-top: 10px;
}

@media (min-width: 576px) and (max-width: 778px) {
  nav {
    text-align: center;
  }

  header h3 {
    font-size: 20px;
  }

  .intro {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .intro img {
    width: 100%;
    height: 100%;
  }

  .intro .intro-text {
    width: 100%;
    height: 100%;
  }

  .intro-text h4 {
    padding-top: 80px;
    padding-left: 30px;
    font-size: 13px;
  }

  .intro-text p {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 15px;
    padding-bottom: 80px;
  }

  .intro-2 img {
    width: 100%;
    height: 100%;
  }

  .intro-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0;
    padding-bottom: 60px;
  }

  .intro-2-text {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
  }

  .intro-2-text p {
    font-size: 15px;
    padding-bottom: 20px;
  }

  .txt {
    white-space: nowrap;
    font-size: 40px;
    animation: Scroll 3s linear infinite;
  }

  h4 {
    font-size: 13px;
  }

  .carte {
    padding-top: 100px;
  }

  .bouton-reservez {
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 140px;
    margin-left: 140px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .bouton-carte p {
    padding: 30px;
    padding-bottom: 160px;
    padding-top: 160px;
    font-size: 27px;
  }

  .localisation {
    margin-top: 25px;
  }

  .fleche {
    margin-top: 30px;
    padding-left: 30px;
  }

  .contacts img {
    width: 13%;
    height: 100%;
  }
}

@media (min-width: 340px) and (max-width: 576px) {
  nav {
    text-align: center;
  }

  header h3 {
    font-size: 14px;
    padding-top: 30px;
  }

  .intro {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .intro img {
    width: 100%;
    height: 100%;
  }

  .intro .intro-text {
    width: 100%;
    height: 100%;
  }

  .intro-text h4 {
    padding-top: 80px;
    padding-left: 30px;
    font-size: 13px;
  }

  .intro-text p {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 15px;
    padding-bottom: 80px;
  }

  .intro-2 img {
    width: 100%;
    height: 100%;
  }

  .intro-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0;
    padding-bottom: 60px;
  }

  .intro-2-text {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
  }

  .intro-2-text p {
    font-size: 15px;
    padding-bottom: 20px;
  }

  .txt {
    white-space: nowrap;
    font-size: 40px;
    animation: Scroll 3s linear infinite;
  }

  h4 {
    font-size: 13px;
  }

  .carte {
    padding-top: 100px;
  }

  .bouton-reservez {
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .localisation {
    margin-top: 25px;
    margin-left: 60px;
  }

  .fleche {
    margin-top: 30px;
    padding-left: 30px;
  }

  .contacts {
    padding-left: 60px;
  }

  .contacts img {
    width: 25%;
    height: 100%;
  }

  .animation {
    display: flex;
    align-items: center;
    width: 340px;
  }

  .txt {
    white-space: nowrap;
    font-size: 70px;
    animation: Scroll 3s linear infinite;
  }

  @keyframes Scroll {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(0%);
    }
  }

  .animation span {
    color: white;
    font-family: sans-serif;
  }

  footer {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 778px) and (max-width: 992px) {
  nav {
    text-align: center;
  }

  header h3 {
    font-size: 20px;
  }

  .intro {
    text-align: center;
    display: flex;
    flex-direction: row;
  }

  .intro img {
    width: 50%;
    height: 100%;
  }

  .intro .intro-text {
    width: 50%;
    height: 100%;
    text-align: left;
  }

  .intro-text h4 {
    padding-top: 160px;
    padding-left: 70px;
    font-size: 13px;
  }

  .intro-text p {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 15px;
    padding-bottom: 80px;
  }

  .intro-2 img {
    width: 100%;
    height: 100%;
  }

  .intro-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0;
    padding-bottom: 60px;
  }

  .intro-2-text {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
  }

  .intro-2-text p {
    font-size: 15px;
    padding-bottom: 20px;
  }

  .txt {
    white-space: nowrap;
    font-size: 40px;
    animation: Scroll 3s linear infinite;
  }

  h4 {
    font-size: 13px;
  }

  .carte {
    padding-top: 100px;
  }

  .bouton-reservez {
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 180px;
    margin-left: 180px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .localisation {
    margin-top: 0;
  }

  .fleche {
    width: 100%;
  }

  .contacts img {
    width: 13%;
    height: 100%;
  }

  .bouton-carte p {
    padding: 30px;
    padding-bottom: 135px;
    padding-top: 135px;
    font-size: 27px;
  }

  .renkorv {
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    margin-bottom: 30px;
  }

  .renkorv h3 {
    padding-bottom: 10px;
  }

  .renkorv-text {
    padding: 10px;
    padding-bottom: 20px;
  }

  footer {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts-case {
    margin-left: 130px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  header h3 {
    font-size: 20px;
  }

  .intro {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .intro {
    display: flex;
    flex-direction: row;
  }

  .intro img {
    width: 50%;
    height: 100%;
  }

  .intro .intro-text {
    width: 50%;
    height: 100%;
    text-align: left;
  }

  .intro-text h4 {
    padding-top: 250px;
    padding-left: 70px;
    font-size: 13px;
  }

  .intro-text p {
    padding-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 15px;
    padding-bottom: 80px;
  }

  .intro-2 img {
    width: 100%;
    height: 100%;
  }

  .intro-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0;
    padding-bottom: 60px;
  }

  .intro-2-text {
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    width: 100%;
    height: 100%;
  }

  .intro-2-text p {
    font-size: 15px;
    padding-bottom: 50px;
  }

  .txt {
    white-space: nowrap;
    font-size: 40px;
    animation: Scroll 3s linear infinite;
  }

  h4 {
    font-size: 13px;
  }

  .carte {
    padding-top: 100px;
  }

  .bouton-reservez {
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .localisation {
    margin-top: 0;
  }

  .fleche {
    width: 100%;
  }

  .contacts img {
    width: 13%;
    height: 100%;
  }

  .bouton-carte p {
    padding: 30px;
    padding-bottom: 160px;
    padding-top: 160px;
    font-size: 27px;
  }

  .renkorv {
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
    margin-bottom: 30px;
  }

  .renkorv h3 {
    padding-bottom: 10px;
  }

  .renkorv-text {
    padding: 10px;
    padding-bottom: 20px;
  }

  footer {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts-case {
    margin-left: 130px;
    margin-top: 30px;
  }
}

nav a:hover {
  background-color: white;
  color: black;
}

nav a {
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-decoration: none;
}

.bouton-carte:hover {
  background-color: white;
  color: black;
}

.bouton-reservez:hover {
  background-color: white;
  color: black;
}
