/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  background-color: black;
  color: white;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
  display: block;
}

.intro-2 {
  background-color: #435c54;
}

footer {
  background-color: #435c54;
}

header {
  background-image: url(../img/photo-aurores.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

h1 {
  text-align: center;
}

header h3 {
  text-align: center;
  padding: 30px;
  padding-bottom: 450px;
  font-size: 55px;
  padding-top: 50px;
}

nav {
  padding-top: 150px;
  padding-bottom: 250px;
  font-size: 30px;
}

.animation {
  display: flex;
  align-items: center;
}

.txt {
  white-space: nowrap;
  font-size: 70px;
  animation: Scroll 3s linear infinite;
}

@keyframes Scroll {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.animation span {
  color: white;
  font-family: sans-serif;
}

.intro {
  display: flex;
  flex-direction: row;
}

.intro img {
  width: 42%;
}

.intro .intro-text {
  width: 58%;
  padding-top: 100px;
}

.intro-text h4 {
  padding-top: 500px;
  padding-left: 300px;
}

.intro-text p {
  padding-top: 20px;
  padding-left: 300px;
  padding-right: 250px;
  font-size: 24px;
}

.intro-2 img {
  width: 42%;
  padding-top: 300px;
  padding-bottom: 300px;
}

.intro-2 {
  display: flex;
  flex-direction: row;
}

.intro-2-text {
  display: flex;
  flex-direction: column;
  padding-left: 400px;
  padding-top: 400px;
  padding-bottom: 250px;
  padding-right: 300px;
}

.intro-2-text p {
  padding-bottom: 100px;
  font-size: 26px;
}

.carte {
  padding-top: 200px;
  padding-bottom: 50px;
}

.plats img {
  border-color: white;
  border-style: solid;
  border-width: 0.5px;
  width: max-content;
}

footer img {
  width: 25px;
}

main {
  padding-bottom: 150px;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
